form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & fieldset {
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        gap: 10px;
    }

    & #base {
        visibility: hidden;
    }
}